/*.playerSel {*/
/*background-color: rgba(204, 204, 204, 0.81);*/
/*}*/

/*.selected {*/
/*background-color: rgba(83, 144, 223, 0.64);*/
/*}*/

@media only screen and (max-width: 768px) {
    /*#gamePic {*/
    /*transform: rotate(90deg);*/
    /*}*/
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

#scoreboard {
    margin: auto;
    font-size: 50px;
    position: relative;
    display: flex;
    width: 250px;
}

.team-score {
    position: relative;
    width: 50%;
    border-width: 5px;
    background-color: #FFF;
    text-align: center;
}

#team1-score {
    border-left: solid #007bff;
    border-radius: 5px 0 0 5px;
    margin-right: 1px;
}

#team2-score {
    border-right: solid #ff4f4f;
    border-radius: 0 5px 5px 0;
    margin-left: 1px;
}

.score-text {
    font-size: 50px;
}

.progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}

.team-text {
    font-size: 50px;
    /*writing-mode: tb-rl;*/
}

.player-team1 {
    border-top: 6px solid #007bff;
}

.player-team2 {
    border-top: 6px solid #ff4f4f;
}

.player-card-container {
    display: flex;
}


.text-center {
    margin-bottom: 2rem;
}

body {
    background: #ff7e5f;
    background: -webkit-linear-gradient(to right, #ff7e5f, #feb47b);
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    min-height: 100vh;
}

.rounded-lg {
    border-radius: 1rem;
}

.text-gray {
    color: #aaa;
}


div.h4 {
    line-height: 1rem;
}

@media only screen and (max-width: 1200px) {
    .player-card-container {
        display: block;
    }
}