body {
    overflow-y: hidden;
    background: #ff7e5f;
    background: -webkit-linear-gradient(to right, #ff7e5f, #feb47b);
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

#page-container {
    position: static;
    max-width: 80%;
}

#back-btn {
    z-index: 10;
    position: absolute;
    top: -9px;
    left: -11px;
    height: 127px;
    width: 156px;
    background: none;
    border: none;
}

#back-btn-cover {
    position: absolute;
    top: -27px;
    left: -7px;
    width: 201px;
    height: 170px;
    background: rgb(0,0,0);
    background: linear-gradient(142deg, rgba(0,0,0,0.4458158263305322) 17%, rgba(255,255,255,0) 55%);
}

#back-btn-arrow {
    color: #FFF;
    position: absolute;
    top: 16px;
    left: 18px;
}

#game-btn-container {
    position: relative;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;

    padding: 13px;
    padding-bottom: 0;
    padding-top: 0;

    border-radius: 7px;
    width: 65vw;
    margin: auto;
}

#game-btn-container::-webkit-scrollbar
{
    width: 8px;
    /*background-color: #F5F5F5;*/
}

#game-btn-container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #bebabc;
}

#create-game-container {
    margin-top: 4vh;
}

.game-card {
    position: relative;
    width: 100%;
    text-align: left;
    color: #000;
    background: #FFF;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px 8px 0 0;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);

    padding:0;
}

.game-card-cont {
    display: grid;
    grid-template-columns: auto auto auto;
}

.game-card-cont .game-card-header {
    display: grid;
    grid-column-start: span 3;
    padding-top: 7px;
    position: relative;
    padding-left: 14px;
    padding-bottom: 10px;
    border-bottom: 2px solid #DDDDDD;
    font-weight: 500;
}

.t1 {
    border-bottom: 2px solid #DDDDDD;
}

.team-score {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 72px;
    padding-left: 5px;
    padding-right: 5px;
}

#team1-score {
    color: #007bff;
}

#team2-score {
    color: #ff4f4f;
}

.player {
    position: relative;
    display: block;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.player .player-name {
    line-height: 62px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

.icon {
    color: #b0b0b4;
    margin-right: 8px;
}

.game-hash-span {
    float: right;
    margin-right: 14px;
    font-size: 17px;
    font-weight: 500;
    color: #797979;
}

.stat:not(.icon) {
    font-size: 22px;
    font-weight: 500;
}

.player .player-stats {
    display: grid;
    position: relative;
    float: right;
    padding-right: 5px;
}

.player .player-stats {
    display: grid;
}

.in-progress {
    border-top: 5px solid #858585;
}

.t1-win {
    border-top: 5px solid #007bff;
}

.t2-win {
    border-top: 5px solid #ff4f4f;
}

.draw {
    border-top: 5px solid #fff949;
}

.pre-game {
    border-top: 5px solid #ac3bff;
}

.game-grid-item:not(.game-card-header):not(.p2):not(.p4) {
    border-right: 2px solid #DDDDDD;
}

.winning-team {
    background-color: #e4e4e4;
}


@media only screen and (max-width: 1000px) {
    #page-container {
        max-width: 100%;
    }

    #game-btn-container {
        width: 98vw;
        left: -16px;
    }

    .player .player-name {
        font-size: 15px;
    }

    .team-score {
        font-size: 20px;
    }
}
