.game-card {
    position: relative;
    width: 100%;
    text-align: left;
    color: #000;
    background: #FFF;
    margin-bottom: 10px;
    border: solid #9f9fb1 2px;
    border-radius: 7px;

    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
}

.game-card-cont {
    display: grid;
    grid-template-columns: auto auto auto;
}

.game-card-cont .game-card-header {
    grid-column-start: span 3;
    padding-top: 7px;
    position: relative;
    left: 1px;
}

.in-progress .game-card-cont {
    background: linear-gradient(0deg, rgba(255,255,255,1) 21%, rgba(159,159,159,1) 100%);
}

.t1-win .game-card-cont {
    background: linear-gradient(0deg, rgba(255,255,255,1) 21%, rgb(0, 123, 255) 100%);
}

.t2-win .game-card-cont {
    background: linear-gradient(0deg, rgba(255,255,255,1) 21%, rgba(255,79,79,1) 100%);
}

.draw .game-card-cont {
    background: linear-gradient(0deg, rgba(255,255,255,1) 21%, rgba(255,247,79,1) 100%);
}